@import "./reset.css"; /* include reset.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"); /* font-family: 'Roboto', sans-serif; */


.container {
    font-family: "Roboto"; /* стандартный шрифт контейнеру для того чтобы все дочерние брали*/
    font-size: 0.8rem; /* стандартный шрифт для всех */
}

.header {
    background: #eeeff1; /* ставим фон: white */
}

.nav__wrapper {
    padding: 40px 280px; /* родителю навигации отступы чтобы все дочерние стояли правильно и нужным отступам*/
}

.nav__items {
    display: flex; /* display: flex */
    column-gap: 40px; /* расстояние между собой: 40px */
}

.text__special {
    text-transform: uppercase; /* Переводим элементы в вверхний регистр */
}

.text--primary {
    color: #ffffff; /* Цвет ставим white для наших элементов*/
    font-family: "Roboto"; /* Шрифт roboto */
}

.nav__text,
.nav__text--link {
    color: #000000; /* color #000000 */
    line-height: 26px; /* межстрочный интервал */
    letter-spacing: 0.1em; /* межстрочный интервал между каждым элементом */
    font-weight: 400; /* вес шрифта */
    transition: 500ms; /* плавность 500ms */
    text-decoration: none; /* убрать все подчеркивания */
}

.nav__text--link:hover {
    color: #696666; /* Цвет #696666*/
    transition: 500ms; /* плавность при наведение 500ms */
}

.header__content {
    padding: 60px 0px 70px 0px; /* отступы всему header контенту */
}

.header__title {
    font-weight: 500; /* Вес шрифта 500 */
    font-size: 2rem; /* Размер шрифта 2rem */
    line-height: 79px; /* межстрочный интервал */
    color: #000000; /* ставим цвет для элементов */
}

.header__subtitle {
    padding: 20px 0px 40px 0px; /* отступы для всех элементов внутри */
    width: 40%; /* Ширина 40% */
    font-size: 0.9rem; /* Размер шрифта 0.9 rem */
    line-height: 26px; /* межстрочный интервал */
    color: #727272; /* color #727272 */
}

.header__btn {
    width: 140px; /* Ширина для кнопки 140px */
    transition: 1s; /* Плавность при наведение на блок */
    padding: 10px 10px; /* Внутренние отступы */
}

.header__btn:hover { /* При наведение(hover) */
    background-color: #2f3f52;  /* Смена на bg-color: #2f3f52*/
    cursor: pointer; /* Смена курсора на pointer */
    transition: 1s; /* Плавность 1s */
}

.header__btn--primary {
    display: flex; /* Display: flex */
    justify-content: center; /* Ставим все дочерние элементу по центру */
    font-weight: 400; /* Вес шрифта 400 */
    line-height: 26px; /* Межстрочный интервал 26px */
    font-size: 0.7rem; /* Размер шрифта: 0.7rem */
    letter-spacing: 0.1em; /* Межстрочный интервал между каждым элементом */
    color: #ffffff; /* Color : white */
}


.section__wrapper {
    padding: 112px 0px 0px 0px; /* Отступы всему родителю ( wrapper ) */
}

.section__items {
    display: flex; /* Ставим в строку(flex) */
    flex-direction: column; /* В колонку ( culumn ) */
    align-items: center; /* Ставим по центру */
}

.section__title {
    font-weight: 500; /* Вес шрифта 500 */
    font-size: 1.5rem; /* Размер шрифта : 1.5rem */
    line-height: 38px; /* Межстрочный интервал 38px */
    color: #000000; /* Цвет : #000000 */
}

.section__subtitle {
    width: 540px; /* Ширина 540px */
    font-weight: 400; /* Вес шрифта 400 */
    font-size: 1rem; /* Размер шрифта 1rem */
    padding: 50px 0px 100px 0px; /* внутренние отступы для всех элементов subtitle */
    line-height: 26px; /* Межстрочный интервал 26px */
    text-align: center; /* По центру расположить */
    color: #727272; /* color : #727272 */
}

.main__wrapper {
    padding: 110px; /* Внутренние отступы родителю всем сторонам */
}

.main__items {
    display: flex; /* Ставим в строку(flex) */
    justify-content: center; /* Ставим все дочерние элементу по центру */
    align-items: center; /* Ставим по центру */
    column-gap: 35px; /* расстояние между собой: 35px */
}

.icon {
    display: flex; /* Ставим в строку(flex) */
}

.icon__items {
    display: flex; /* Ставим в строку(flex) */
    flex-direction: column; /* В колонку ( culumn ) */
    padding-left: 12px; /* Внутренний отступ вправо на 12px */
}

.icons__title {
    font-weight: 500; /* Вес шрифта 500 */
    font-size: 1.3125rem; /* Размер шрифта : 1.3125rem */
    line-height: 25px; /* Межстрочный интервал: 25px */
}

.icons__text {
    font-weight: 400; /* Вес шрифта 400*/
    font-size: 1rem; /* Размер шрифта 1rem */
    line-height: 26px; /* Межстрочный интервал */
}

.section__video {
    position: relative; /* Позиционировать относительно родителя */
}

.picture {
    width: 700px; /* Ширина 700px */
}

.section__item {
    position: absolute; /* Позиционировать абсолютно относительно нашего родителя */
    top: 160px; /* Вниз на 160px */
    left: 315px; /* Вправо на 315px */
}

.picture-item {
    width: 70px; /* Ширина 70px */
}

.footer {
    margin-top: 100px; /* Внешний отступ вниз на 100px */
    padding: 40px; /* Внутренние отступы 40px */
}

.footer__inner {
    padding: 0px 360px; /* Внутренний отступ вправо на 360px */
}

.footer__title {
    font-weight: 500; /* Вес шрифта 500 */
    font-size: 1.3125rem; /* Размер шрифта 1.3125rem */
    line-height: 25px; /* межстрочный интервал */
}

.footer__subtitle {
    padding-top: 20px; /* Внутренний отступ вниз на 20px */
    font-weight: 400; /* Вес шрифта 400 */
    font-size: 0,8125rem; /* Размер 0,8125rem */
    line-height: 21px; /* межстрочный интервал */
}

.element--special {
    background: #34547a; /* bg-фон : #34547a */
}