.header {
  font-family: 'Open Sans', sans-serif;
}

.menu {
  font-size: 0;
  width: 390px;
  background: red;
}

.menu__item {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  margin: 10px;
}

.menu__item:hover .dropdawn__menu {
  display: block;
}

.dropdawn__menu {
  position: absolute;
  background: red;
  display: none;
  text-align: center;
  font-size: 1.1rem;
  list-style: none;
  padding: 9px;
  width: 120px;
}

.dropdawn-menu__item {
  margin-top: 10%;
}

.menu__link {
  color: white;
  text-decoration: none;
}